body {
    margin-top: -24px;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

input[type=radio] {
    height: 0;
    width: 0;
    padding: 0;
    margin: 0;
}

.page-div {
    overflow: hidden;
    height: 6vh;
}

.page-dots {
    left: 1vw;
}

#page1-div {
    background-color: #a1c8e9;
    box-shadow: inset 0px -10px 5px -10px rgba(0, 0, 0, 0.603);
}
#page2-div {
    background-color: #bcdfc9;
    box-shadow: inset 0px -10px 5px -10px rgba(0, 0, 0, 0.603);
}
#page3-div {
    background-color: #f6c2d9;
    box-shadow: inset 0px -10px 5px -10px rgba(0, 0, 0, 0.603);
}
#page4-div {
    background-color: #fff69b;
    height: 82vh;
}

#page1:checked ~ #page1-div {
    height: 82vh;
}
#page2:checked ~ #page2-div {
    height: 82vh;
}
#page3:checked ~ #page3-div {
    height: 82vh;
}

#page1:checked ~ .page-dots label[for="page4"] .bi-chevron-down, 
#page1:checked ~ .page-dots label[for="page3"] .bi-chevron-down, 
#page1:checked ~ .page-dots .bi-chevron-up, 
#page2:checked ~ .page-dots label[for="page4"] .bi-chevron-down, 
#page2:checked ~ .page-dots label[for="page2"] .bi-chevron-down, 
#page2:checked ~ .page-dots label[for="page2"] .bi-chevron-up, 
#page2:checked ~ .page-dots label[for="page3"] .bi-chevron-up, 
#page3:checked ~ .page-dots label[for="page2"] .bi-chevron-down, 
#page3:checked ~ .page-dots label[for="page3"] .bi-chevron-down, 
#page3:checked ~ .page-dots label[for="page1"] .bi-chevron-up, 
#page3:checked ~ .page-dots label[for="page3"] .bi-chevron-up, 
#page4:checked ~ .page-dots .bi-chevron-down, 
#page4:checked ~ .page-dots label[for="page1"] .bi-chevron-up, 
#page4:checked ~ .page-dots label[for="page2"] .bi-chevron-up {
    display: none;
}


#page1:checked ~ .page-dots {
    top: 16vh;
}
#page2:checked ~ .page-dots {
    top: 22vh;
}
#page3:checked ~ .page-dots {
    top: 28vh;
}
#page4:checked ~ .page-dots {
    top: 34vh;
}


#page1:checked ~ .page-dots label:not([for="page1"]),
#page2:checked ~ .page-dots label:not([for="page2"]),
#page3:checked ~ .page-dots label:not([for="page3"]),
#page4:checked ~ .page-dots label:not([for="page4"]) {
    z-index: 2;
}

#page1:checked ~ .page-dots label[for="page1"] .bi-dot,
#page2:checked ~ .page-dots label[for="page2"] .bi-dot,
#page3:checked ~ .page-dots label[for="page3"] .bi-dot,
#page4:checked ~ .page-dots label[for="page4"] .bi-dot {
    opacity: 0.5;
    transform: scale(2);
}
#page1:checked ~ .page-div label[for="page1"],
#page2:checked ~ .page-div label[for="page2"],
#page3:checked ~ .page-div label[for="page3"],
#page4:checked ~ .page-div label[for="page4"] {
    transform: scale(1.5);
}

* {
    transition: all 0.2s ease-in;
}

.section-title {
    width: 100vw;
    height: 5vh;
}

@font-face {
    font-family: 'Virgil';
    src: local('Virgil'), url(Virgil.woff2) format('woff2');
}
.h4, p {
    font-family: "Virgil";
}

.note-content {
    height: 72vh;
}

.bi-chevron-down:hover, .bi-chevron-up:hover {
    transform: scale(1.5);
}

.w-10 {
    width: 10vw;
}

.container-fluid {
    padding: 0;
}

.container {
    padding: 5vh 10vw;
}

p {
    margin-bottom: 0;
    padding-left: 1em;
}

@media screen and (max-width: 500px) {
    .w-10 {
        width: 20vw;
    }
    .container {
        padding: 5vh 20vw;
    }
}